<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boliangshenghe.weibodata.repository.UserMapper" >
  <resultMap id="BaseResultMap" type="com.boliangshenghe.weibodata.entity.User" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="DEPARTMENT" property="department" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="OPERATOR_ID" property="operatorId" jdbcType="INTEGER" />
    <result column="OPERATOR_NAME" property="operatorName" jdbcType="VARCHAR" />
    <result column="OPERATOR_TIME" property="operatorTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, PHONE, PASSWORD, DEPARTMENT, TYPE, OPERATOR_ID, OPERATOR_NAME, OPERATOR_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.boliangshenghe.weibodata.entity.User" >
    insert into t_user (ID, NAME, PHONE, 
      PASSWORD, DEPARTMENT, TYPE, 
      OPERATOR_ID, OPERATOR_NAME, OPERATOR_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{operatorId,jdbcType=INTEGER}, #{operatorName,jdbcType=VARCHAR}, #{operatorTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.boliangshenghe.weibodata.entity.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="department != null" >
        DEPARTMENT,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="operatorId != null" >
        OPERATOR_ID,
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME,
      </if>
      <if test="operatorTime != null" >
        OPERATOR_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorTime != null" >
        #{operatorTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boliangshenghe.weibodata.entity.User" >
    update t_user
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        OPERATOR_ID = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorTime != null" >
        OPERATOR_TIME = #{operatorTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boliangshenghe.weibodata.entity.User" >
    update t_user
    set NAME = #{name,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      DEPARTMENT = #{department,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      OPERATOR_ID = #{operatorId,jdbcType=INTEGER},
      OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      OPERATOR_TIME = #{operatorTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectUserList" resultMap="BaseResultMap"  parameterType="com.boliangshenghe.weibodata.entity.User">
   	    select 
    <include refid="Base_Column_List" />
    from t_user
    <where>
        <if test="name != null">
            AND NAME like '%${name}%' 
        </if>
        <if test="type != null">
            AND TYPE = #{type,jdbcType=VARCHAR}
        </if>
        <if test="phone != null">
            AND PHONE = #{phone,jdbcType=VARCHAR}
        </if>
        <if test="password != null">
            AND PASSWORD = #{password,jdbcType=VARCHAR}
        </if>
        AND TYPE !='99'
    </where>
   	    <if test="start != null and limit != null"> 
			LIMIT #{start} ,#{limit}
		</if>
   	</select>
   	<select id="selectUserListCount" resultType="int" parameterType="com.boliangshenghe.weibodata.entity.User">
   	    select 
    count(0)
    from t_user
    <where>
         <if test="name != null">
            AND NAME = #{name,jdbcType=VARCHAR}
        </if>
        <if test="phone != null">
            AND PHONE = #{phone,jdbcType=VARCHAR}
        </if>
         AND TYPE !='99'
    </where>
   	    
   	</select>
</mapper>